:root {
  --container-width: 90rem;
  --gutter: 2rem;

  --color-very-dark-blue: #0f1424;
  --color-dark-blue: #1c1f4a;
  --color-desaturated-blue: #5646e9;
  --color-pale-blue: #bdc1ff;
  --color-white: #fff;
  --color-background:#0b112e;

  --default-padding: 1.5rem;
  --mobile-padding: 1rem;
  --default-radius: 0.8rem;

  --scale: 0.8;
  --scrollbar-width: 1.2rem;
  --scrollbar-border-radius: 0.8rem;

  --transition-1: 0.5s ease;
  --timing: 265ms;
}
